<header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">PIN IT!</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{#if loggedIn}}
                    <li class="active pulse"><a id="logout">Logout</a></li>
                    <script src="/javascript/logout.js"></script>
                    {{else}}



                    <li class="active pulse"><a href="/login">Login</a></li>


                    <li class="active pulse"><a href="/signup">Sign Up</a></li>
                    {{/if}}


                </ul>
            </div>
        </nav>
    </header>