<div class="col s3">
    <div class="card">
        <div class="card-image">
            <img src="{{picture}}">
        </div>
        <div class="card-content red lighten-2 center-align white-text">
            <span class="card-title">{{item_name}}</span>
            <p>Posted by: {{user.username}}</p>
        </div>
    </div>
</div>