<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIN IT!</title>
</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">PIN IT!</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active pulse"><a href="collapsible.html">Sign Up</a></li>
                    <li class="active pulse"><a href="collapsible.html">Login</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="row">

        <div class="col s12 m4 l3 red-text lighten-2">

            <h5 class="center-align">Categories</h5>
            <ul class="collection">
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Travel</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Fashion</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Shoes</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Food</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Cars</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Houses</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Decor</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Goals</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Workout</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Aesthetic</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Sport</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">DIY</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Ideas</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Pets</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Todo</span>


                </li>
            </ul>
        </div>

        <div class="col s12 m8 l9 red-text lighten-2 center-align">

            <h5>Results</h5>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">
                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <footer class="page-footer">
        © 2022 PIN IT!
    </footer>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/logout.js"></script>
</body>

</html>