{{!-- name, picture, category user from session id --}}
<div class="divider"></div>
<div class="section">
    <form class="add-form">
        <div class="divider"></div>
        <div class="section">
            <div class="input-field col s12">
                <label for="name-add">Item name: </label>
                <input type="text" id="name-add" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="input-field col s12">
                <label for="picture-add">Add picture link: </label>
                <input type="text" id="picture-add" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <label for="cars">Choose a car:</label>
            <select id="cars" name="cars" size="3" class="browser-default" style="height: 16em">
                <option value="1">Travel</option>
                <option value="2">Fashion</option>
                <option value="3">Shoes</option>
                <option value="4">Food</option>
                <option value="5">Cars</option>
                <option value="6">Houses</option>
                <option value="7">Decor</option>
                <option value="8">Goals</option>
                <option value="9">Workout</option>
                <option value="10">Aesthetic</option>
                <option value="11">Sport</option>
                <option value="12">DIY</option>
                <option value="13">Ideas</option>
                <option value="14">Pets</option>
                <option value="15">Todo</option>
            </select>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div>
                <button type="submit" id="add-button">Add</button>
            </div>
        </div>
        <script src="/javascript/add.js"></script>
    </form>
</div>