
    <div class="row">

        <div class="col s12 m4 l3 red-text lighten-2">

            <h5 class="center-align">Categories</h5>
            <ul class="collection">
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Travel</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Fashion</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Shoes</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Food</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Cars</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Houses</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://specials-images.forbesimg.com/imageserve/6123b033133106144df23946/Best-Home-Decor-Ideas--Nearly-Natural-faux-plants/960x0.jpg?fit=scale"
                        alt="" class="circle">

                    <span class="title">Decor</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/shutterstock_318915104_360067.jpg"
                        alt="" class="circle">

                    <span class="title">Goals</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://www.hussle.com/blog/wp-content/uploads/2020/12/Gym-structure-1080x675.png" alt=""
                        class="circle">

                    <span class="title">Workout</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://images2.alphacoders.com/104/thumb-350-1042787.jpg" alt="" class="circle">

                    <span class="title">Aesthetic</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://buckeyeswire.usatoday.com/wp-content/uploads/sites/32/2020/04/script-ohio.jpg?w=1024&h=576&crop=1"
                        alt="" class="circle">

                    <span class="title">Sport</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/DIY_SLIDER.jpg" alt="" class="circle">

                    <span class="title">DIY</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://blog.bonus.ly/hubfs/creative-reward-ideas-featured.png" alt="" class="circle">

                    <span class="title">Ideas</span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/16/08/gettyimages-464163411.jpg" alt=""
                        class="circle">

                    <span class="title">Pets</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Todo</span>


                </li>
            </ul>
        </div>

        <div class="col s12 m8 l9 red-text lighten-2 center-align">

            <h5>Results</h5>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">
                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>