
    <div class="row">

        <div class="col s12 m4 l3 red-text lighten-2">

            <h5 class="center-align">Categories</h5>
            <ul class="collection">
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Travel</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Fashion</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Shoes</span>

                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Food</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Cars</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Houses</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Decor</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Goals</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Workout</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Aesthetic</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Sport</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">DIY</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Ideas</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Pets</span>


                </li>
                <li class="collection-item avatar hoverable">
                    <img src="#" alt="" class="circle">

                    <span class="title">Todo</span>


                </li>
            </ul>
        </div>

        <div class="col s12 m8 l9 red-text lighten-2 center-align">

            <h5>Results</h5>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">
                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                            <img src="https://via.placeholder.com/200">

                        </div>
                        <div class="card-content red lighten-2 center-align white-text">
                            This is placeholder text.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>