<div class="row">

    <div class="col s12 m4 l3 red-text lighten-2">

        <h4 class="center-align">Categories</h4>
        <ul class="collection">
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://www.travelanddestinations.com/wp-content/uploads/2019/11/Beach-Destinations-in-Asia.jpg"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Travel</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2020/01/Webp.net-resizeimage-29-1024x683.jpg"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Fashion</h5>
                    </span>

                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-running-shoes-lead-1576249557.jpg"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Shoes</h5>
                    </span>

                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=20&m=1155240408&s=612x612&w=0&h=Zvr3TwVQ-wlfBnvGrgJCtv-_P_LUcIK301rCygnirbk="
                        alt="" class="circle">

                    <span class="title">
                        <h5>Food</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://i.insider.com/592f4169b74af41b008b5977?width=700" alt="" class="circle">

                    <span class="title">
                        <h5>Cars</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://media.istockphoto.com/photos/dream-home-luxury-house-success-suburban-house-picture-id1281554848?b=1&k=20&m=1281554848&s=170667a&w=0&h=s7X81b-3hfEGTYVkFKDOG7ZDySs57Tpw_WAETXi5xnQ="
                        alt="" class="circle">

                    <span class="title">
                        <h5>Houses</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://specials-images.forbesimg.com/imageserve/6123b033133106144df23946/Best-Home-Decor-Ideas--Nearly-Natural-faux-plants/960x0.jpg?fit=scale"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Decor</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/shutterstock_318915104_360067.jpg"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Goals</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://www.hussle.com/blog/wp-content/uploads/2020/12/Gym-structure-1080x675.png" alt=""
                        class="circle">

                    <span class="title">
                        <h5>Workout</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://images2.alphacoders.com/104/thumb-350-1042787.jpg" alt="" class="circle">

                    <span class="title">
                        <h5>Aesthetic</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://buckeyeswire.usatoday.com/wp-content/uploads/sites/32/2020/04/script-ohio.jpg?w=1024&h=576&crop=1"
                        alt="" class="circle">

                    <span class="title">
                        <h5>Sport</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/DIY_SLIDER.jpg" alt="" class="circle">

                    <span class="title">
                        <h5>DIY</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://blog.bonus.ly/hubfs/creative-reward-ideas-featured.png" alt="" class="circle">

                    <span class="title">
                        <h5>Ideas</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/16/08/gettyimages-464163411.jpg" alt=""
                        class="circle">

                    <span class="title">
                        <h5>Pets</h5>
                    </span>


                </li>
            </a>
            <a href="#">
                <li class="collection-item avatar hoverable red-text lighten-2">
                    <img src="https://i.imgur.com/OvMZBs9.jpg" alt="" class="circle">

                    <span class="title">
                        <h5>Todo</h5>
                    </span>


                </li>
            </a>
        </ul>
    </div>

    <div class="col s12 m8 l9 red-text lighten-2 center-align">

        <h4>Results</h4>
        <div class="column">
            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                        <img src="https://via.placeholder.com/200">
                    </div>
                    <div class="card-content red lighten-2 center-align white-text">
                        This is placeholder text.
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>