<form class="login-form">
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s6">
                <label for="username-login ">username:</label>
                <input type="text" id="username-login" />
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s6">
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
        </div>
    </div>
    <div>
        <div class="divider"></div>
        <div class="section">
            <button class="waves-effect waves-red btn-flat" type="submit" id="login-button">login</button>
        </div>
    </div>
</form>
<script src="/javascript/login.js"></script>