<form class="signup-form">
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
        </div>
    </div>
    <div>
        <div class="divider"></div>
        <div class="section">
            <button class="btn red waves-effect waves-red" type="submit" id="signup-button" style="margin-left: 4em;">signup</button>
        </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>